<!-- Abstract Submission -->
<div class="abstract-submission">
  <div class="content-wrapper">
    In the preparation of abstract please download and use the template file <a href="{{ site.submissionTemplateUrl | prepend: site.baseurl }}" class="">HERE</a><br><br>
    <p>The researchers should send the abstract paper by considering the following rules:</p>
    <ul>
      <li>The font type of the title should be written with Times New Roman font type, 12 pt.</li>
      <li>The title should be written with uppercase letters.</li>
      <li>The author’s information should be given clearly with the description of faculty, department, university, city and country.</li>
      <li>The authors should also add the active academic e-mail addresses. </li>
      <li>The body text of the abstract should be written with Times New Roman font type, 11 pt.</li>
      <li>The keywords should be separated with semicolons.</li>
      <li>The keywords part should contain at least three statements.</li>
      <li>References should be written with APA style.</li>
      <li>All abstracts and paper language should be <b>English</b> but presentation might be in <b>English</b> or <b>Turkish</b>.</li>
    </ul>
    <p><b>Important Note 1:</b> The researchers should pay attention about the abstract format. Improper abstracts will not be considered for evaluation process.</p>
    <p><b>Important Note 2:</b> In COSTAS 2017, the submission is composes of two stages. Firstly, the submission form is filled by clicking on the <a href="http://openconf.uzem.omu.edu.tr/author/submit.php">Make Submission</a> tab.
    Then, the manuscript file is uploaded by clicking on the <a href="http://openconf.uzem.omu.edu.tr/author/upload.php">Upload File</a> tab. In this way, the abstract submission process is completed.
    In review process, the completed submissions are only considered.</p>
    <a href="http://openconf.uzem.omu.edu.tr/openconf.php" class="btn btn-primary waves-effect waves-button waves-light waves-float" style="background: #F39431 !important;" target="_blank">SUBMIT PAPER</a>
  </div>
</div>
<!-- End Venue Section -->
