<!-- Conference Abstract Book -->
<div class="abstract-submission">
  <div class="content-wrapper">
    Dear Colleague; <br><br>
    Thank you for your interest in the  International Conference on Computational and Statistical Methods in Applied Sciences (COSTAS 2017)  taking place on 9-11 November, 2017 in Samsun, Turkey.<br><br>
    The draft of COSTAS 2017 <a href="{{ site.abstractBookUrl | prepend: site.baseurl }}" class="">Abstract Book</a> has been announced.<br><br>
    if there is any problem related to your studies, please inform us via e-mail (costas2017@omu.edu.tr) until on November 29, 18:00.<br><br>
    With best regards.<br><br>
    COSTAS 2017 Organizing Committee
  </div>
</div>
<!-- End Conference Abstract Book -->
