<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <h3 style="margin-bottom: 10px;">{{ site.confType }}</h3>
            <h3 style="margin-bottom: 10px;">{{ site.heroTitle }}</h3>
            <h3 style="margin-bottom: 10px; margin-top: 10px;">{{ site.heroTitleShort }}</h3>
            <h4 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">{{ site.eventDate }}</h4>
            {% for button in site.heroButtons %}
            <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" style="background: #F39431 !important;" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
            {% endfor %}
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->
