<section id="speakers" class="speakers">
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row text-left appear-animation-trigger">
        {% for speaker in site.data.speakers %}
        <div class="effect-wrapper appear-animation col-md-4 col-sm-6 col-xs-12">
          <div class="lily-effect ribbon-activator">
            <div class="lily-head">
              <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }})">
            </div>
          </div>
        </div>
        <figcaption>
          <h4 class="name" style="color:#000">{{ speaker.title}} {{ speaker.name }} <span>{{ speaker.surname }}</span></h4>
          <p class="position" style="color:#000">{{ speaker.company }}</p>
        </figcaption>
        <p class="about">{{ speaker.bio }}</p>
        <ul class="social">
          {% for social in speaker.social %}
            <li>
              <a href="{{ social["link"] }}" target="_blank">
                <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
                  <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"] }}"></use>
                </svg>
              </a>
            </li>
          {% endfor %}
        </ul>
        <hr/>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
