$figcaption-color: #3c4a50;
.zoe-effect {
    margin-bottom: 26px;
    height: 50px;
    padding-top: 8px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .06), 0 1px 3px rgba(0, 0, 0, .15);
    background: #fff;
    h2 {
        font-size: 16px;
        font-weight: $regular;
        margin: 0;
        word-spacing: -2px;
        color: #3c4a50;
        span {
            font-weight: $bold;
        }
    }
    a {
        float: right;
        margin-left: 4px;
    }
    .position {
        font-size: 12px;
        @include trimText(12px, 1, 1);
    }
}
